#page-header {
    background-color: #f9f9f9;
}

.header-logo img {
    max-height: 7rem;
}

.header-logo {
    text-align: center;
}

#main-content {
    padding: 3rem 0;
    padding-top: 0;
}

.box-image {
    max-height: 23rem;
    display: block;
    margin: 0 auto;
    user-select: none;
}

.box-title {
    background-color: #cf4b98;
    color: white;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
}

.box-type-2 .box-title {
    background-color: #72509a;
}

.box-type-3 .box-title {
    background-color: #d5524e;
}

.box-type-4 .box-title {
    background-color: #73a05b;
}

.box-type-5 .box-title {
    background-color: #e0a140;
}


.content-box {
    box-shadow: 4px 5px 9px #00000070;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
}

.box-text {
    padding: 1rem;
    margin: 0;
}

#thanosTest{
    /* border: solid 1px red; */
    border-left: 0;
    border-right: 0;
}

#thanos-guantlet {
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* opacity: 0; */
    transition: 0.4s;
}

#thanos-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    padding-bottom: 13rem;
    z-index: 2000;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    font-size: 1.25rem;
    text-align: center;
    opacity: 0;
    transition: 2s;
}

#thanos-message .thanos-end-image {
    position: absolute;
    bottom: 0;
    opacity: 0;
}

#portal-image {
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* opacity: 0; */
    transition: 0.4s;
    filter: hue-rotate(290deg);
}

#portal-image .portal-img {
    height: 0;
    transition: 0.4s;
}

#portal-image .portal-img.active {
    height: 16rem;
}

#thanos-guantlet img {
    transition: all 0.4s;
    opacity: 0;
    height: 0;
}

#thanos-guantlet img.active {
    height: 14rem;
    opacity: 1;
}

#thanos-message.active {
    opacity: 1;
    padding-bottom: 2rem;
}

#thanos-message #reset-button {
    position: absolute;
    bottom: 2rem;
    background-color: #6070e0;
    background-color: #000000;
    border: solid 6px #f0c060;
    padding: 1rem 2rem;
    border-radius: 1rem;
    letter-spacing: 2px;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s;
}

#thanos-message #reset-button:hover {
    background-color: #6070e0;
}

/* ========================================================================== */
/* Config panel */
/* ========================================================================== */
#thanos-config {
    width: 100%;
    margin-bottom: 3rem;
}

#thanos-config .config-inputs {
    /* margin-bottom: 3rem; */
    background-color: #f9f9f9;
    /* color: #ffffff; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* border-top: solid 2px #cf4b98; */
    border-bottom: solid 2px #cf4b98;
    display: none;
}

.trigger-button {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #cf4b98;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
/*
.trigger-button:before {
    content: "";
    width: 3rem;
    height: 3rem;
    display: block;
    border-color: #cf4b98;
    border-radius: 50%;
    border: solid 1px #cf4b98;
    animation: pulse 1s infinite;
    animation-timing-function: linear;
}*/


@keyframes pulse {
  0% {
    width: 2rem;
    height: 2rem;
    opacity: 1;
  }
  25% {
    width: 3rem;
    height: 3rem;
    opacity: 0.75;
  }
  50% {
    width: 4rem;
    height: 4rem;
    opacity: 0.5;
  }
  75% {
    width: 5rem;
    height: 5rem;
    opacity: 0.25;
  }
  100% {
    width: 6rem;
    height: 6rem;
    opacity: 0;
  }
}


.trigger-button .pulse {
    width: 3rem;
    height: 3rem;
    display: block;
    border-color: #cf4b98;
    border-radius: 50%;
    border: solid 1px #cf4b98;
    animation: pulse 2s infinite;
    animation-timing-function: linear;
    position: absolute;
}

.trigger-button .pulse:nth-child(2){
  animation-delay: 0.8s;
}

.trigger-button .pulse:nth-child(3){
  animation-delay: 0.65s;
}

.trigger-button .pulse:nth-child(4){
  animation-delay: 0.50s;
}

.trigger-button .pulse:nth-child(5){
  animation-delay: 0.4s;
}

.trigger-button:before {
    height: 1rem;
    width: 1rem;
    content: "";
    display: block;
    background-color: #ffffff;
    border-radius: 50%;
}
